body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("image.jpg");
    background-image: cover;               
    text-align: center;
    color:white;
    font-weight: bold;
}

h1{
    color:goldenrod;
    font-size: 4em;
}

p{
    font-size: x-large;
}

#message{
    font-style: italic;
}

button{
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
    border:none;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 4px;      
    margin-top:4px
}

button:hover{
    cursor:pointer;
    color:yellow;
    background-color:rgba(129, 6, 6, 0.658);
}
.container{
    margin:96px;
}

#newCardBtn[disabled]{
    background-color:goldenrod;
    color:#016f32;
}
